<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="" X-UA-Compatible" content=" ie="edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Crafty Controller is a cross platform minecraft server control platform that you control from your web browser.">
        {# <meta property="og:title" content="Crafty Controller" >
        <meta property="og:type" content="website">
        <meta property="og:image" content="static/img/logo_long.png">
        <meta property="og:url" content="https://craftycontrol.com">
        <meta property="og:description" content="Crafty Controller is a cross platform minecraft server control platform that you control from your web browser.">
        <meta property="og:site_name" content="Crafty Controller" > 
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://craftycontrol.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Crafty Controller">
        <meta property="og:description" content="Crafty Controller is a cross platform minecraft server controller that you control in your web browser.">
        <meta property="og:image" content="static/img/logo_long.png">
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="">
        <meta property="twitter:url" content="https://craftycontrol.com">
        <meta name="twitter:title" content="Crafty Controller">
        <meta name="twitter:description" content="Crafty Controller is a cross platform minecraft server controller that you control in your web browser.">
        <meta name="twitter:image" content="static/img/logo_long.png">
        <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        #}
        <link rel="shortcut icon" href="/static/img/favicon.ico"/>
        <link rel="stylesheet" href="/css/global.css">
        {% if css %}<link rel="stylesheet" href="/css/{{css}}">{% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Raleway:wght@100..900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Raleway:wght@100..900&display=swap"></noscript>
        <title>Gear it Forward Team 2338</title>
    </head>
    <body>
        {% include './nav.njk' %}
        {{content | safe}}
        {% include './footer.njk' %}
    </body>
</html>