@use "partials/vars" as *;

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - $nav_height);
    text-align: center;
    color: white;

    &__background {
        position: absolute;
        inset: 0;
        background-image: url("/static/img/landing/2025Full-Team.jpg");
        background-size: cover;
        background-position: center;
        filter: brightness(0.7); // slightly darken for text
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2;
        padding-inline: 2em;

        .subtitle {
            font-size: clamp(2rem, 2vw, 1.5rem);
            text-shadow: 0 0 10px black;
        }

        h1 {
            font-size: clamp(2rem, 4vw, 4rem);
            margin: 0.5em 0;
            text-shadow: 0 0 10px black;

            .hero__colored {
                font-family: "Baloo 2", cursive;
                font-weight: bold;
                -webkit-text-stroke: 3px white;
                text-shadow: 2px 2px 5px black;
                transition: transform 0.3s ease, text-shadow 0.3s ease;
                &--blue {
                    color: #00243e;
                }
                &--orange {
                    color: #fe5000;
                }
                &:hover {
                    transform: scale(1.2);
                    text-shadow: 2px 2px 10px black;
                }
            }
        }

        .typewriter {
            font-weight: 300;
            text-shadow: 0 0 10px black;
            margin-top: 1em;
        }
    }

    @media (width < $mid_breakpoint) {
        flex-direction: column;
        justify-content: flex-end;

        &__content {
            padding-inline: 1.5em;
        }
    }
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-size: 110%;
    margin-block: 1em;

    @media (width < $mid_breakpoint) {
        grid-template-columns: 1fr;
        padding-inline: 3em;
    }

    &__subtitle {
        font-size: 200%;
    }

    &__img {
        border-radius: 0.5vw;
        scale: 90%;
        margin-left: -1vw;
    }

    &__left {
        &__video {
            scale: 150%;
            margin-left: -2.5vw;
            border-radius: 0.5vw;
            margin-bottom: 2vh;
        }
    }

    @media (width > $mid_breakpoint) {
        & > div {
            margin: auto;
            max-width: 35vw;
        }
    }
}
