---
title: GearScout
layout: base.njk
permalink: /gearscout/
css: our-team.css
---
<header class="hero">
    <h1 class="hero__title">{{ gearscout.header.heading }}</h1>
    <p class="hero__subtitle">{{ gearscout.header.subheading }}</p>
</header>

<section class="info">
    <div class="info__container">
        <h2 class="info__title">About</h2>
        <p class="info__text">More information coming soon! Check back later</p>
        <a href="https://gearitforward.com">Quant</a>
        <a href="https://qual.gearitforward.com">Qual</a>
        <a href="https://pit.gearitforward.com">Pit</a>
        <a href="https://data.gearitforward.com">Analytics</a>
    </div>
</section>

