---
layout: base.njk
---
{# <header class="hero">
    <div class="hero__left">
        <img src="/static/img/landing/2025Full-Team.jpg" alt="Team 2338: Gear It Forward at kickoff in 2025." class="hero__left__image">
    </div>
    <div class="hero__right">
        <p class="subtitle">We are,</p>
        <h1>Team 2338: Gear It Forward</h1>
        <p class="subtitle">A FIRST Robotics Competition team from Oswego, Illinois</p>
        #}
{#TODO: Typewriter#}
{#
</div>
</header> #}