@use "./_vars.scss" as *;

nav {
	display: grid;
	grid-template-columns: 1fr 2fr;
	//3em is the image height
	padding: calc(($nav_height - 3em) * 0.5) 2em;
	height: $nav_height;

	background: $blue;

	color: white;

	@media (width < $tablet_breakpoint) {
		display: flex;
		justify-content: space-between;
		padding: 0;
		padding-block: 0.5em;

		.nav_left {
			margin-left: 0.75em;
		}
	}

	.nav_left {
		//for the margin:auto to verticaly center the text
		display: flex;
		gap: 1em;

		img {
			max-width: 3em;
			max-height: 3em;
			display: inline;
			aspect-ratio: 1/1;
			margin-block: auto;
		}
		a {
			display: inline;
			margin-block: auto;

			text-decoration: none;
			color: white;
			font-size: 125%;
		}
	}

	.nav_right {
		display: flex;
		gap: 1em;
		justify-self: end;

		list-style: none;

		transition: transform 0.5s ease-in-out;

		@media screen and (width < $tablet_breakpoint) {
			display: flex;
			flex-direction: column;
			position: fixed;
			justify-content: center;
			align-items: center;
			top: $nav_height;
			background-color: $blue;
			width: 100%;
			height: calc(100vh - $nav_height);
			transform: translate(-110%);
			text-align: center;
			overflow: hidden;
		}

		&.nav_right--open {
			transform: translate(0%);
		}

		li {
			display: flex;
		}

		a {
			text-decoration: none;
			color: white;
			margin-block: auto;
			text-align: center;
			font-size: 110%;
			padding: 0.5em 0.75em;
			//So that the nav doesn't change size on hover
			border: 2px solid transparent;
			border-radius: 10px;

			@media (width < $tablet_breakpoint) {
				font-size: 150%;
			}

			&:hover,
			&:focus-visible,
			&:focus-within {
				border-color: $orange;
			}
		}
	}
	.menu-toggle {
		justify-self: end;
		margin-right: 25px;
		margin-block: auto;
		display: none;

		@media (width < $tablet_breakpoint) {
			display: block;
		}

		&:hover {
			cursor: pointer;
		}

		.bar {
			display: block;
			width: 25px;
			height: 3px;
			background-color: white;
			margin: 5px auto;
			-webkit-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
	}

	//Stole entire nav from https://codepen.io/bowersrd/pen/dwXLba?editors=1100
	#mobile-menu.menu-toggle--active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.menu-toggle--active .bar:nth-child(1) {
		-webkit-transform: translateY(8px) rotate(45deg);
		-ms-transform: translateY(8px) rotate(45deg);
		-o-transform: translateY(8px) rotate(45deg);
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.menu-toggle--active .bar:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(-45deg);
		-ms-transform: translateY(-8px) rotate(-45deg);
		-o-transform: translateY(-8px) rotate(-45deg);
		transform: translateY(-8px) rotate(-45deg);
	}
}
