//Variables
$blue: rgb(2, 36, 62);
$orange: rgb(254, 80, 0);
$grey: rgb(186, 191, 183);
$offwhite: rgb(250, 249, 246);
$offblue: rgb(2, 53, 91);
$offBlack: rgb(29, 28, 27);

$tablet_breakpoint: 1000px; //this includes the nav
$mid_breakpoint: 750px;
$mobile_breakpoint: 500px;

$nav_height: 4rem; //To determine the height of the hero.
